target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#ignore IntelliJ
.idea
*.iml

#ignore local backups of fitnesse
20*.zip
20*.xml

#ignore files in lib directory because it was added by maven build or the startFitnesse script.
fitnesse/lib/*.jar

#additional ignore for fitnesse taken from https://github.com/unclebob/fitnesse/blob/master/.gitignore
fitserverSentinel*
testHistoryDirectory/
tmp/*
FitNesseRoot/properties
FitNesseRoot/ErrorLogs/*
FitNesseRoot/files/testResults/*
FitNesseRoot/RecentChanges*
FitNesseRoot/RerunLastFailures.wiki
junit*.properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
fitMutation/